@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


  body{
    background: linear-gradient(100deg,#6163B0,#C2442D);
    color: white;
    font-family:'Barlow', sans-serif;
   }
   
  .modoOscuro{
    background: linear-gradient(100deg,#C2442D,#6163B0);
    color: black;
  }
  
  #modoToggle{
    padding: 10px 20px;
    font-size: 16px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-family:'Barlow', sans-serif;
    background-color:#6163B0;
    transition: background-color 0.3;
    color:white;
  }
  
  #modoToggle:hover{
    color:#C2442D;
  transition-duration:1s;
  border-bottom: 2px solid white;
    
  }
  
  .modoOscuro #modeToggle{
    background-color:#C2442D;
    color:black;
  }
   
   
   .mainMenu{
     color:white;
     font-size: 20px;
     font-weight: bold;
     text-decoration:none;
     padding: 5px 20px;
     
   }
   
   .mainMenu:hover{
  color:#B3DBF5;
  transition-duration:1s;
  border-bottom: 2px solid #B3DBF5;
  
   }
   
   
  nav {
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;            
    height: 60px;           
    background: solid;
    background: linear-gradient(100deg,#6163B0, #C2442D);
    
    display: flex;
    justify-content: center; 
    align-items: center;
    
    z-index: 1000;
    
    
    
}

header {
    width: 100%;
    padding: 20px 0;
}
   
   
   section {
     max-width: 700px;
     margin: 0 auto;
     text-align: left;
     padding-bottom:180px;
     padding-top:180px;
     padding-left:20px;
     padding-right:20px;
   }
    
  .yo{
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border-style: solid;
  border-color: #B3DBF5;
  object-fit: cover;
  position: absolute; 
  right:30%;
  top: 30%;            
  transform: translateY(-50%); 
  
  }
  
  .container{
    
  }
  
  #contact{
    margin-top:20px;
  }
  
  #button{
    margin: 10px 20px;
    width:150px;
    height:50px;
    background-color: #6163B0;
    padding: 15px 32px;
    font-size:15px;
    color:white;
    border:none;
    border-radius:150px;
    cursor:pointer;
  }
  
  #button:hover{
    color:#FFFFFF;
    background-color:#C2442D;
  }
    
    
    
  
  
  textarea{
  width:500px;
  resize: none;
  }
 
  
  #subir{
    margin: 10px 20px ;
    width: 50px;
    text-align: center;
    padding: 13px;
    border-radius:300px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:#6163B0;
    cursor:pointer;
    
  } 
  
  #subir:hover{
    color:#FFFFFF;
    background-color:#C2442D;
  }
  
  .animado{
    opacity: 0;
    transition: all 0.5s;
  }
  
  
  
  
    
   html{
     scroll-behavior: smooth;
   }
   
   
   @media screen and (max-width: 768px){
  nav{
    flex-direction: column;
    align-items: flex-end;
  }
  form input, textarea{
    width:250px;
  }
   }